.welcome{
    text-align: center;
}
.freeCourses{
    margin: 20px;
}
.freeCourseContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5%;
    width: 70%;
    margin: auto;
    height: fit-content;
    margin-bottom: 30px;
    border: 1px solid transparent;
}
.freeCourseCard{
    text-align: left;
}

.courseImage{
    width: 100%;
}
.instructorAvatar{
    border-radius: 50%;
}
.showMoreDiv{
    display: flex;
    justify-content: center;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.exploreMore{
    margin: 40px;
    text-align: center;
}
.popularCourses{
    background-color: #F7F8FD;
    padding: 30px;
}
.popularCourseTab{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    height: 900px;
    margin: auto;
    margin-top: 20px;
    grid-gap: 5%;
    /* border: 1px solid black; */
    padding: 20px;
    
}
.popularCourseCard{
    border: 1px solid black;
    padding: 15px;
    box-sizing: border-box;
    background-color: white;
}