.home{
    text-align: center;
}
*{
    font-family: 'Nunito Sans', sans-serif;
}
.iconsSvgDiv{
    display: flex;
    justify-content: space-around;
    width: 75%;
    margin: auto;
}

.flex{
    display: flex;
}
.computerimg{
    width: 60%;
}

.reviews{
    overflow-x: scroll;
    display: flex;
    flex-wrap: nowrap;
    width: 80%;
    margin: auto;
}
.reviews>div{     /*<- this is the slideshow element*/
    width: 90%;
    margin: auto;
    /* border: 1px solid black; */
    padding: 40px;
    
}
.review{
    /* background-color: aqua; */
    padding:20px;
    border:1px solid gray;
    margin:10px;
    margin-left: 10%;
    width: 400px;
    height:300px;
    text-align: left;
    display: flex;
    flex-direction: column;   
    border-radius: 20px; 
    background-color: white;
}
.review p, h3{
    padding: 5px 20px;
}

.review>div:nth-child(2){
    position: fixed;
    bottom: 10px;
}
.part2, .part4fromhome{
    background-color: #F7F8FD;
    padding: 20px;
}
.part2 img{
    width: 80%;
    margin: auto;
    margin-top: 30px;
}
.part3{
    margin: 40px 0;
}
.part3grid{
    display: flex;
    width: 80%;
    margin: auto;
    text-align: left;
    gap: 30px;
}
.part3grid img{
    width: 90%;
    height: 400px;
}