.checkout{
    display: grid;
    grid-template-columns: 30% 65%;
    grid-gap: 5%;
    width: 95%;
    margin: auto;
}

.checkoutRight{
    background-color: ghostwhite;
}

.CheckoutText{
    text-align: center;
}

.CheckoutText>div{
    margin: 30px 18px;
}
.priceComponent{
    margin-top: 50px;
}
.priceComponent h4{
    text-align: center;
}
.priceContainer{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 5%;
}
.eachpricetitleDiv{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(198, 197, 197);
    padding: 0;
    margin: auto;
    letter-spacing: 2px;
    font-weight: bold;
    box-sizing: border-box;
}
.eachpricetitleDiv2{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(198, 197, 197);
    padding: 0;
    margin: auto;
    background-color: #caf5ed;
    color:green;
    letter-spacing: 2px;
    font-weight: bold;
    box-sizing: border-box;
}

.eachPrice{
    border: 1px solid rgb(198, 197, 197);
    /* padding: 20px; */
    box-sizing: border-box;
    border-radius: 5px;
}

.eachPriceSelected{
    border: 5px solid #5553ff;
    border-radius: 2px;
    /* padding: 20px; */
    box-sizing: border-box;
}
.eachPriceInfoDiv{
    padding: 10px 40px;
}
.totalPrice{
    display: flex;
    justify-content: flex-end;
    margin: 10px 40px;
    font-size: 1.5rem;
}
.paymentComponent{
    margin: 5%;
    display: flex;
    justify-content: center;
}
.paymentComponent form{
    border: 1px solid rgb(186, 180, 180);
    padding: 30px;
    width: 350px;
    margin: 10% -5%;
}
.paymentComponent form div{
    margin-top: 10px;
}
.paymentComponent form>input{
    width: 300px;
}