
.btns{
    width: 140px;
    height: 45px;
    border-radius:25px;
    border: 1px solid rgb(199, 192, 192);
    font-size:18px;
    margin-right: 12px;
    margin-bottom: 40px;
}
.buttons{
    text-align: left;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.showmore{
    width: 300px;
    height: 50px;
    margin: auto;
    margin-top: 50px;
}
.showmore>:nth-child(1){
    width: 100%;
    height: 100%;
}
@media (min-width: 375px) and (max-width: 768px) {
    .btns{
        width: 200px;
        height: 45px;
        border-radius:25px;
        border: 1px solid rgb(199, 192, 192);
        font-size:18px;
        margin-right: 35px;
        margin-bottom: 40px;
    }
    .buttons{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .grid-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

}
@media (min-width: 0px) and (max-width: 375px) {
    .buttons{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .grid-container{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}
.searchbar{
    display: flex;
    margin-bottom: 30px;
}
.searchbar>:nth-child(1){
    width: 90%;
}
.searchbar>:nth-child(2)>button{
    width: 100%;
    height: 100%;
    font-size:18px
}
.searchbar>:nth-child(2)>i{
    font-size:18px
}
@media (min-width: 375px) and (max-width: 768px){
    .searchbar{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .searchbar>:nth-child(2){
        margin: auto;
        margin-top:5%;
        width: 50%;
        height: 35%;
    }
}
@media (min-width: 0px) and (max-width: 375px){
    .searchbar{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .searchbar>:nth-child(2){
        margin: auto;
        margin-top:5%;
        width: 80%;
        height: 35%;
    }

}